@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, header, img, span, nav, div, p, input{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --branco: #FFFFFF;
    --cinza-fundo: #F8F9FA;
    --cinza-input: #F1F3F5;
    --cinza: #868E96;
    --preto: #212529;
}